body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
#welcome {
  max-width: 1200px;
  margin: 16px auto;
  color: #55eddb;
}

#our_team {
  max-width: 1200px;
  margin: 16px auto;
  color: #0ca538;

}
#about {
  max-width: 1200px;
  margin: 16px auto;
  color: #3fc5e7;
}

#login {
  max-width: 1200px;
  margin: 16px auto;
  color: #097891;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#products {
  max-width: 1200px;
  margin: 16px auto;
  color: #4d1d9f !important;
}

#header-sector {
  max-height: 10px;
}

#header-sector .header-option {
  margin-top: -8px;
  padding-top: -5px;
  padding-bottom: 0px;
}


#header-sector .header-option a,
h6 {
  max-height: 100px;
  float: left;
  text-decoration: none;
  justify-content: baseline;
}

#header-sector .header-option a,
h6 {
  max-height: 86px;
  float: left;
  text-decoration: none;
  justify-content: baseline;
  font-size: 12px;
}




#convo {
  margin: auto;
  color: #144e57;
  text-decoration: solid;
  background-color: #bab8b98f;
  border: 3px solid #4aa1df !important;
  box-shadow: 8px 8px 18px 0px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 20px;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 20px;
}

.card-body {
  text-align: center;
}
.card-body i{
  font-size: 14px;
  background-color: white;
  color: #007bff;
}
.card-body i:hover{
  font-size: 16px;
  color: white;
  background-color: #0056b3;
}


#welcome-intro {
  height: 5vh;
  width: 5vh;
}

#welcome {
  margin-top: 2px;
}



.carousel-item img {
  max-height: 400px;
  max-width: 80%;
  margin: auto;
  margin-left: 10%;
}

.carousel-indicators .active {
  width: 30px !important;
  height: 5px !important;
  margin: 0;
  background-color: #00e6b7 !important;
}

.carousel-control-prev span {
  color: rgb(13, 7, 25);
  background-color: rgb(39, 227, 146);
  cursor: pointer;
  border-radius: 50%;
}

.carousel-control-next span {
  color: rgb(13, 8, 24);
  background-color: rgb(39, 227, 146);
  cursor: pointer;
  border-radius: 50%;
}



.card {
  width: 23%;
  float: left;
  padding: 2px;
  margin: 2px;
  margin-left: 15px;
}


.about-section {
  padding: 43px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  margin: 25px;
  margin-top: 4px;
}


.row>* {

  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.division {
  margin-left: 20%;
}

.div2 {
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 2;
}

.div3 {
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 2;
}

.div4 {
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 2;
}

.login {
  max-height: 80%;
  max-width: 100% !important;
  background: url(https://img.freepik.com/free-vector/painted-watercolour-texture_1048-7550.jpg?semt=ais_hybrid&w=740&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 69vh;
  background-color: #124;
  padding: 2vh;
  margin-left: 2vh;
  margin-right: -6vh;
  margin-bottom: 5vh;
}

.form-control {
  display: block;
  width: 102%;
  height: 20px;
  padding: 3px 4px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.colareffect {
  background-color: white;
  padding: 4vh;
  opacity: 0.8;
  border: 1px solid green;
  margin: 9vh;
  height: 65vh;
}

#review1 {
  max-height: 20vh;
  max-width: 20vw;
}

.contact-head {
  color: #009687;
  font-size: large;
  margin-top: 2%;
  border-bottom: 4px #009687 solid;

}

.card06 {
  width: 74%;
  float: left;
  padding: 9px;
  margin: -9px;
  margin-left: 94px;
  border: 1px solid black;
  height: 351px;
  box-shadow: 2px 2px 6px 0px;
}

.px-2 {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
  color: white;
  margin: initial;
  margin-bottom: -1px;
  padding-bottom: 6px;
  margin-left: 8px;
  padding-left: 0px;
}

#book-mark {
  color: rgb(15, 194, 243);
  background-color: white;
}

#book-mark:hover {
  color: white;
  background-color: rgb(59, 151, 231);
}


/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */


.icon-bar {
    position: fixed;
    top: 60%;
    transform: translateY(0%);
    left: -0%;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 1px;
  transition: all 0.3s ease;

  font-size: 18px;
  margin: 3px;

  border: 1px solid;
}

/* Style the social media icons with color, if you want */


.facebook:hover {
  color: #052568;
  background-color: white;
}

.facebook {
  color: white;
  background-color: #092e7e;
}




.linkedin:hover {
  color: #007bb5;
  background-color: white;
}

.linkedin {
  color: white;
  background-color: #007bb5;
}

.whatsapp:hover {
  background-color: white;
  color: green;
}

.whatsapp {
  background-color: green;
  color: white;
}

.pinterest:hover {
  color: red;
  background-color: white;
}

.pinterest {
  color: white;
  background-color: red;
}

@media (min-width: 992px) {
  .col-md-3 {
    width: 21% !important;
    margin-left: 29px !important;
    margin-bottom: 23px !important;
  }
}

/*---login--*/
/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */




/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

/* Modal Content/Box */

.modal-content {
  position: relative !important;
  display: flex;
  flex-direction: column;
  width: 55% !important;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;

}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/*--login ends--*/
.is-invalid~.invalid-feedback,
.is-invalid~.invalid-tooltip,
.was-validated :invalid~.invalid-feedback,
.was-validated :invalid~.invalid-tooltip {
  display: none;
}

.is-valid~.valid-feedback,
.is-valid~.valid-tooltip,
.was-validated :valid~.valid-feedback,
.was-validated :valid~.valid-tooltip {
  display: none;
}



#review {
  max-height: 19vh;
  max-width: 99vw;

}

#review-head {
  color: #009687;
  font-size: small;
  margin-top: 0%;
  border-bottom: 4px #009687 solid;
  text-decoration: none;
  height: 40vh;
  width: 115%;
  box-shadow: 2px 2px 6px 0px;
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin-left: -6vw;
}

#review-box {
  height: 16vh;
  width: 20vw;
  box-shadow: 2px 2px 6px 0px;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  border-radius: 0px;
  border: 1px solid black;
  float: left;
  text-align: center;
  margin-left: 28px !important;
  padding-left: 2%;
}

/*-- achievement section --*/
header {
  color: #007bff;
  background-color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.achievements-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;

  max-width: 1200px;
  margin: 16px auto;
}

.achievement-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, 0.1);
  padding: 8px;
  text-align: center;
  transition: transform 0.3s ease;
  width: 22% !important;
  height: 100%;
  margin-left: 23px !important;
  margin: auto;


}

.achievement-card:hover {
  transform: translateY(-5px);
}

.achievement-card .icon {
  font-size: 3em;
  color: #007bff;
  margin-bottom: 15px;
}

.achievement-card h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
}

.achievement-card p {
  font-size: 0.9em;
  line-height: 1.6;
  color: #666;
}

.achievement-header {
  max-width: 1200px;
  margin: 16px auto;
  color: #5578ed;
}

#footer {
  background-color: #212529;
  color: white;
  height: 12vh;
  width: 102%;
  margin-left: 6px;
  margin-bottom: 1px !important;
  margin-right: 1px;
}

#finishing {
  margin-bottom: -22px !important;
}


.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: none !important;
}
#footer .nav-link {
    padding: 0.5rem 0.5rem;
    color: rgba(255, 255, 255, 0.55);
}
#footer .nav-link:hover {
    color: black !important;
}